# Display-only bring-up. Every pin here is [HW]: validated on this board during
# the Holith bring-up (projects/holith/syn/seg7mux.tcl).
FREQUENCY NET "clk" 2.080000 MHz ;

LOCATE COMP "DISPLAY_0" SITE "77" ;
LOCATE COMP "DISPLAY_1" SITE "78" ;
LOCATE COMP "DISPLAY_2" SITE "81" ;
LOCATE COMP "DISPLAY_3" SITE "82" ;
LOCATE COMP "DISPLAY_4" SITE "83" ;
LOCATE COMP "DISPLAY_5" SITE "84" ;
LOCATE COMP "DISPLAY_6" SITE "85" ;

LOCATE COMP "DISPLAY_SELECTOR_3" SITE "73" ;
LOCATE COMP "DISPLAY_SELECTOR_2" SITE "74" ;
LOCATE COMP "DISPLAY_SELECTOR_1" SITE "75" ;
LOCATE COMP "DISPLAY_SELECTOR_0" SITE "76" ;

LOCATE COMP "reset"     SITE "1"  ;
LOCATE COMP "heartbeat" SITE "55" ;
